/*关于我们*/
.g-left {
	height: 480px;
	margin-top: 20px;
}
.g-left .a-top {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	position: relative;
	background: url(../images/top.png);
}
.g-left .a-top p {
	position: absolute;
	top:22px;
	left: 30px;
	color:#fff;
}
.g-left .a-bottom {
	height: 430px;
	background: url(../images/a-bg.png);
}
.g-left .a-bottom ul {
	height: 430px;
	padding-top:10px;

}
.g-left .a-bottom li {
	width: 100px;
	height: 34px;
	line-height: 26px;
	margin: 20px auto 0;
	text-align: center;
	background: url(../images/a-li.png);
}
.a-bottom li a {
	color: #fff;
	vertical-align: middle;
}

.a-bottom li:hover {
	font-size: 18px;
	background:#E3722E ;
	border-radius: 7px;
}
.content .g-right {
	margin-top:65px;
	display: inline-block;

}
.content .g-right p {
	padding: 10px 0 20px 10px;
}


/*荣誉资质页面*/
.content .r-right p {
	text-align:center;
	font-size: 20px;
	font-weight: bold;
}
.content .r-right span {
	display: block;
	line-height: 40px;
	font-weight: bold;
	padding-left: 72px;
}