/*案例分析*/

.content .case {
	width: 370px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-left: 12px;
    margin-top:20px;
    float: left;
    text-align: center;
}

.content .case:hover{
	box-shadow: 0 0 10px #000;
}